# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados y cache de Python
__pycache__/
*.pyc

# Base de datos local de pruebas
*.db
*.sqlite3

# Configuraciones locales
.env
.vscode/

# Archivos PDF subidos por los usuarios en tiempo de ejecución
backend/uploads/